/*pestaña 10*/

.azul{
	width: 94%;
	margin-left: 3%;
	padding-top: 10px;
	height: 120px;
	background: #232b3a;
	color: white;
	text-align: center;	
	margin-bottom: 30px;
}

h2{
	padding-left: 5%;
}

.subnav{
	padding-left: 5%;
}

.imagen{
	width: 100%;
}

.naranja{
	color: #ff4301;
}

.texto{
	margin-left: 40px;
}

.cuadros{
	padding-top: 20px;
}

.camp-text{
	text-align: center;
}

.naran{
	text-align: center;
	color: #ff4301;
}

h3{
	color: red;
	text-align: center;
	font-size: 20px;
}

@media (max-width: 1200px) {
	.texto{
		margin-right: 30px;
	}
}


.cuadreo1{
	height: 300px;
	width: 100%;
	background: url(../img/promo.jpg);
}

.info{
	padding-top: 80px;
	text-align: center;
	color: white;
	width: 100%;
	height:300px;	
	background: rgba(31, 31, 31, 0.9);
	-webkit-transition:opacity 0.5s;
	opacity: 0;
}

.cuadreo1:hover .info{
	opacity: 1

}

.ico i{
	margin-left: 10px;
	color: white;
}

.ico i:hover{
	color: #ff4301;
	background-attachment: fixed;
}

.cuadreo2{
	height: 300px;
	width: 50%;
	background: url(../img/bici.jpg);
}

.cuadreo2:hover .info{
	opacity: 1

}

.cuadreo3{
	height: 300px;
	width: 50%;
	background: url(../img/bici2.jpg);
}

.cuadreo3:hover .info{
	opacity: 1

}

.cuadreo4{
	height: 300px;
	width: 50%;
	background: url(../img/ciclismo.jpg);

}

.cuadreo4:hover .info{
	opacity: 1

}



/*pestaña 7*/
 .cont{
 	height: 150px;
 	background: #cccccc;
 }

.spac-bet {
 	display: flex;
 	justify-content: space-between;
 }

 .cmp{
 	margin-left: 15px;
 	padding-left: 10px;
 	border-top: #ff4301 5px solid;
 	background: white;
 	font-size: 10px;
 	position: relative;
 	bottom: 10px;
 }

 span{
 	margin-right: 3px;
 }

 h5{
 	padding-top: 5px;
 }

 .cmp p{
 	margin-top: 10px;
 }

 .ult{
 	margin-left: 6%;
 }

 .apun{
 	width: 50%;
 	display: inline-block;
 }

 .num{
 	float: right;
 	position: relative;
 	right: 7%;
 	margin-left: 5px;
 }

 .num:hover{
 	background: #ff4301;
 	color: white;	
 }

 .negrita{
 	color: black;
 }

 /*pagina 8*/

  .co1{
  	width: 45%;
 	height: 230px;
 	background: #cccccc;
 }

  .cm1{
  	width: 50%;
  	float: right;
 	margin-left: 15px;
 	padding-left: 10px;
 	border-top: #ff4301 5px solid;
 	background: white;
 	font-size: 10px;
 	position: relative;
 	bottom: 10px;
 	right: 8%;
 	height: 200px;
 	top: 20px;
 }



.botones {
	width: 100px;
	height: 30px;
	background: white;
	border: #cccccc 2px solid;
}

.next{
	float: right;
}

.asi{
	border-bottom: black 2px solid;
	margin: 20px;
}








