body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.container {
  width: 90%;
  margin: auto;
  max-width: 1400px; }

.top_header {
  background: #232b3a;
  padding: 0 20px; }
  .top_header .container_top_header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .top_header .container_top_header .item_top_header ul {
      display: flex;
      padding: 0;
      margin: 0; }
      .top_header .container_top_header .item_top_header ul li {
        list-style: none;
        padding: 15px 0; }
        .top_header .container_top_header .item_top_header ul li a {
          text-decoration: none;
          color: #fff;
          font-size: 0.875em;
          font-weight: bold;
          margin: 0 20px; }
          .top_header .container_top_header .item_top_header ul li a .orange {
            color: #ff4301; }
      .top_header .container_top_header .item_top_header ul .firs-border {
        border-right: 1px solid rgba(255, 255, 255, 0.3); }
      .top_header .container_top_header .item_top_header ul .second-border {
        border-left: 1px solid rgba(255, 255, 255, 0.3); }

.bottom_header .container_bottom_header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px solid #ccc; }
  .bottom_header .container_bottom_header .item_bottom_header a {
    color: #232b3a;
    transition: all .5s;
    font-size: 1.2em; }
    .bottom_header .container_bottom_header .item_bottom_header a:hover {
      color: #ff4301; }
  .bottom_header .container_bottom_header .item_bottom_header .sepa-left {
    margin-right: 10px; }
  .bottom_header .container_bottom_header .item_bottom_header .sepa-right {
    margin-left: 10px; }
.bottom_header .nav {
  display: flex;
  justify-content: center; }
  .bottom_header .nav ul {
    display: flex;
    padding: 0; }
    .bottom_header .nav ul li {
      list-style: none;
      margin: 10px 10px; }
      .bottom_header .nav ul li a {
        text-decoration: none;
        color: #232b3a;
        font-weight: bold;
        transition: all .5s; }
        .bottom_header .nav ul li a:hover {
          color: #ff4301; }
      .bottom_header .nav ul li a.active {
        color: #ff4301; }

.menu-bar {
  width: 35px;
  cursor: pointer;
  display: none; }
  .menu-bar .uno, .menu-bar .dos, .menu-bar .tres {
    width: 100%;
    background: #ff4301;
    height: 3px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s; }
  .menu-bar .dos {
    margin: 5px 0; }

/*animacion*/
.mostrar .uno {
  transform: rotate(45deg) translate(5px, 5px); }

.mostrar .dos {
  opacity: 0; }

.mostrar .tres {
  transform: rotate(-45deg) translate(6px, -7px); }

.mostrar .menu {
  visibility: visible;
  opacity: 1; }

/*-----RESPONSIVE-----*/
@media screen and (max-width: 48em) {
  .bottom_header .nav {
    display: none; }
  .bottom_header .nav ul {
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .bottom_header .nav ul li a {
      margin-left: 0;
      line-height: 50px;
      color: #232b3a; }
  .bottom_header .nav.visible {
    height: 100vh; }
  .bottom_header .nav {
    display: flex;
    justify-content: center;
    background-color: #ccc;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: -10;
    overflow: hidden;
    height: 0;
    transition: 0.5s height;
    -webkit-transition: 0.5s height;
    -moz-transition: 0.5s height;
    -ms-transition: 0.5s height; }

  .menu-bar {
    display: inline-block;
    float: right;
    margin-top: 10px; } }
@media screen and (max-width: 44.6875em) {
  .top_header {
    display: none; } }
@media screen and (max-width: 30em) {
  .w100 {
    width: 100%;
    align-items: center;
    text-align: center;
    vertical-aling: middle; }

  .bottom_header {
    flex-direction: column; } }
.error {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .error h1 {
    font-size: 186px;
    font-weight: bold;
    margin: 0;
    background: url("../img/illidan.jpg") repeat 0 0 white;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: cover; }
  .error h2 {
    font-size: 26px;
    font-weight: 700;
    line-height: 26px;
    color: #232b3a;
    margin-bottom: 40px; }

.btn-gohome {
  background-color: #ff4301;
  color: #fff;
  padding: 10px 25px;
  border: none;
  font-weight: 700px; }

@media (max-width: 400px) {
  .error h2 {
    text-align: center; } }
.contact-us {
  margin-bottom: 70px; }
  .contact-us p {
    color: #ff4301; }

.info-11 h2 {
  padding: 0; }

.input-mess {
  width: 48%;
  height: 40px;
  border: 1px solid #ccc;
  padding-left: 20px;
  margin: 10px 10px 10px 0px; }

.mess-h2 {
  padding: 0; }

.area-text-e {
  border: 1px solid #ccc;
  padding-left: 20px;
  padding-top: 10px;
  outline: none;
  resize: none;
  width: 98%;
  height: 180px; }

.btn-send {
  background-color: #ff4301;
  border: none;
  color: #fff;
  line-height: 26px;
  font-size: 14px;
  font-weight: 700;
  padding: 5px 20px;
  margin-top: 30px; }

.media-body .text {
  font-size: 12px;
  font-weight: 400;
  color: #999; }
  .media-body .text i {
    color: #ff4301;
    margin-right: 7px; }
.media-body .text-2 {
  font-size: 12px;
  font-weight: 400;
  color: #ff4301; }
.media-body .james {
  font-size: 14px;
  font-weight: 700; }

.img-info-box img {
  width: 90px; }

@media (max-width: 750px) {
  .input-mess {
    width: 100%; } }
.banner-blog-detail img {
  height: 560px; }

.blog-detail {
  display: flex;
  flex-direction: column;
  align-items: center; }

.blog-rest {
  box-shadow: inset 0 2px 0 #ff4301, 0 0 5px rgba(0, 0, 0, 0.25);
  width: 80%;
  background: #fff;
  margin-top: -25px; }
  .blog-rest h2 {
    padding: 0;
    font-weight: 700;
    margin-left: 25px;
    margin-right: 25px; }

.text-font-a {
  display: flex;
  margin-left: 25px;
  color: #666;
  font-weight: 400px;
  line-height: 26px;
  font-size: 15px; }
  .text-font-a i {
    margin-right: 8px; }
  .text-font-a p {
    margin-right: 20px; }

.text-description {
  margin: 20px 25px;
  color: #666;
  margin-top: 20px;
  letter-spacing: 1px;
  word-break: break-all; }
  .text-description span {
    font-weight: 700;
    color: #232b3a; }

.text-description-2 {
  margin-left: 25px;
  margin-right: 25px;
  color: #666;
  margin-top: 20px;
  letter-spacing: 1px;
  word-break: break-all; }

.red-text-2 {
  color: #ff4301; }

.img-maria {
  display: initial !important; }
  .img-maria img {
    width: 100%; }

.name-author {
  color: #ff4301;
  line-height: 23px;
  font-weight: 700;
  margin-left: 25px;
  margin-right: 25px; }

.btn-leave-com {
  border: 1px solid #ccc;
  margin: 18px 25px;
  width: 44%;
  height: 40px;
  padding-left: 20px; }

.btn-submit-now {
  background-color: #ff4301;
  color: #fff;
  height: 40px;
  width: 160px;
  margin: 15px 25px;
  border: none;
  font-weight: 700;
  line-height: 26px; }

.text-message-com {
  border: 1px solid #ccc;
  margin: 10px 25px;
  height: 180px;
  outline: none;
  resize: none;
  width: 94%;
  padding-left: 20px;
  padding-top: 10px; }

@media (max-width: 1200px) {
  .banner-blog-detail img {
    height: initial;
    width: 100%; }

  .btn-leave-com {
    width: 80%; }

  .text-message-com {
    width: 80%; }

  .img-maria img {
    padding: 0px 25px; } }

/*# sourceMappingURL=main.css.map */
