.banner-blog-detail img {
	height: 560px;
}

.blog-detail {
	display:flex;
	flex-direction:column;
	align-items:center;
}

.blog-rest {
	box-shadow: inset 0 2px 0 #ff4301, 0 0 5px rgba(0, 0, 0, 0.25);
	width: 80%;
	background: $white;
	margin-top: -25px;

	h2 {
		padding:0;
		font-weight:700;
		margin-left: 25px;
		margin-right: 25px;
	}
}

.text-font-a {
	display: flex;
	margin-left: 25px;
	color: $grey2;
	font-weight: 400px;
	line-height: 26px;
	font-size: 15px;

	i {
		margin-right : 8px;
	}

	p {
		margin-right: 20px;
	}
}

.text-description {
	margin: 20px 25px;
	color: $grey2;
	margin-top: 20px;
	letter-spacing: 1px;
	word-break: break-all;

	span {
		font-weight: 700;
		color: $darkblue;
	}
}

.text-description-2 {
	margin-left:25px;
	margin-right: 25px;
	color: $grey2;
	margin-top: 20px;
	letter-spacing: 1px;
	word-break: break-all;
}

.red-text-2 {
	color: $orange;
}

.img-maria {
	display: initial !important;

	img {
		width:100%;
	}
}

.name-author {
	color: $orange;
	line-height: 23px;
	font-weight: 700;
	margin-left: 25px;
	margin-right: 25px;
}

.btn-leave-com {
	border: 1px solid $grey;
	margin: 18px 25px;
	width: 44%;
	height: 40px;
	padding-left: 20px;
}

.btn-submit-now {
	background-color: $orange;
	color: $white;
	height: 40px;
	width: 160px;
	margin: 15px 25px;
	border: none;
	font-weight: 700;
	line-height: 26px;
}

.text-message-com {
	border:1px solid $grey;
	margin: 10px 25px;
	height: 180px;
	outline: none;
	resize: none;
	width: 94%;
	padding-left: 20px;
	padding-top: 10px;
}

@media (max-width: 1200px){
	.banner-blog-detail img{
		height: initial;
		width: 100%;
	}	
	.btn-leave-com {
		width: 80%;
	}

	.text-message-com {
		width: 80%;
	}

	.img-maria img {
		padding: 0px 25px;
	}
}